<div class="App">
    <header class="hero">
        <app-header></app-header>
        <app-hero-content></app-hero-content>
    </header>
    <main>
        <section class="category">
            <h2>Drink Again</h2>
            <ul>
                <li *ngFor="let wine of finishedWines">
                    <app-wine-class [image]="wine.imageUrl" [label]="wine.label" [isNew]="wine.isNew">
                    </app-wine-class>
                </li>
            </ul>
        </section>
        <section class="category">
            <h2>Keep Drinking</h2>
            <ul>
                <li *ngFor="let wine of inProgressWine">
                    <app-drink-again [image]="wine.imageUrl" [label]="wine.label" [progress]="wine.progress"></app-drink-again>
                </li>
            </ul>
        </section>
    </main>
</div>
